-
    var skillSet = [{
            skillName: "Pulverizing Palm",
            skillImage: "./img/skill/pulverizing/pulverizing.webp",
            skillLevel: "7",
            gem: {
                damage: false,
                cooldown: false,
            },
            rune: {
                primary: {
                    name: "Bleed",
                    url: "./img/icon/bleed.webp",
                },
                secondary: {
                    name: "Rage",
                    url: "./img/icon/rage.webp",
                },
            },
            tripod1: {
                url: "./img/skill/pulverizing/tripod_1.webp",
                name: "Excellent Mobility",
                upgradeAble: true,
            },
            tripod2: {
                url: "./img/skill/pulverizing/tripod_2.webp",
                name: "Ready Attack",
                upgradeAble: true,
            },
            tripod3: {
                url: "",
                name: "",
                upgradeAble: false,
            },
        },
        {
            skillName: "Lightning Palm",
            skillImage: "./img/skill/lightning/lightning.webp",
            skillLevel: "10",
            gem: {
                damage: true,
                cooldown: true,
            },
            rune: {
                primary: {
                    name: "Galewind",
                    url: "./img/icon/galewind.webp",
                },
                secondary: {
                    name: "",
                    url: "",
                },
            },
            tripod1: {
                url: "./img/skill/lightning/tripod_1.webp",
                name: "Weak Point Enhancement",
                upgradeAble: false,
            },
            tripod2: {
                url: "./img/skill/lightning/tripod_2.webp",
                name: "Burning Hands",
                upgradeAble: true,
            },
            tripod3: {
                url: "./img/skill/lightning/tripod_3.webp",
                name: "Merciless Hands",
                upgradeAble: true,
            },
        },
        {
            skillName: "Heavenly Squash",
            skillImage: "./img/skill/squash/squash.webp",
            skillLevel: "10",
            gem: {
                damage: true,
                cooldown: true,
            },
            rune: {
                primary: {
                    name: "Judgment",
                    url: "./img/icon/judgment.webp",
                },
                secondary: {
                    name: "Overwhelm",
                    url: "./img/icon/overwhelm.webp",
                },
            },
            tripod1: {
                url: "./img/skill/squash/tripod_1.webp",
                name: "Hard Hitter",
                upgradeAble: true,
            },
            tripod2: {
                url: "./img/skill/squash/tripod_2.webp",
                name: "Harsh Training",
                upgradeAble: false,
            },
            tripod3: {
                url: "./img/skill/squash/tripod_3.webp",
                name: "Exquisite Attack",
                upgradeAble: true,
            },
        },
        {
            skillName: "Flash Step",
            skillImage: "./img/skill/flashstep/flash-step.webp",
            skillLevel: "7",
            gem: {
                damage: false,
                cooldown: false,
            },
            rune: {
                primary: {
                    name: "Quick Recharge",
                    url: "./img/icon/quickrecharge.webp",
                },
                secondary: {
                    name: "",
                    url: "",
                },
            },
            tripod1: {
                url: "./img/skill/flashstep/tripod_1.webp",
                name: "Excellent Mobility",
                upgradeAble: true,
            },
            tripod2: {
                url: "./img/skill/flashstep/tripod_2.webp",
                name: "Victory Shout",
                upgradeAble: true,
            },
            tripod3: {
                url: "",
                name: "",
                upgradeAble: true,
            },
        },
        {
            skillName: "Shadow Breaker",
            skillImage: "./img/skill/shadow/shadow.webp",
            skillLevel: "10",
            gem: {
                damage: true,
                cooldown: true,
            },
            rune: {
                primary: {
                    name: "Overwhelm",
                    url: "./img/icon/overwhelm.webp",
                },
                secondary: {
                    name: "",
                    url: "",
                },
            },
            tripod1: {
                url: "./img/skill/shadow/tripod_1.webp",
                name: "Predator",
                upgradeAble: true,
            },
            tripod2: {
                url: "./img/skill/shadow/tripod_2.webp",
                name: "Weak Point Detection",
                upgradeAble: true,
            },
            tripod3: {
                url: "./img/skill/shadow/tripod_3.webp",
                name: "6th Sense",
                upgradeAble: true,
            },
        },
        {
            skillName: "Force Orb",
            skillImage: "./img/skill/orb/orb.webp",
            skillLevel: "10",
            gem: {
                damage: true,
                cooldown: true,
            },
            rune: {
                primary: {
                    name: "Conviction",
                    url: "./img/icon/conviction.webp",
                },
                secondary: {
                    name: "Bleed",
                    url: "./img/icon/bleed.webp",
                },
            },
            tripod1: {
                url: "./img/skill/orb/tripod_1.webp",
                name: "Quick Prep",
                upgradeAble: true,
            },
            tripod2: {
                url: "./img/skill/orb/tripod_2.webp",
                name: "Powerful Wave",
                upgradeAble: true,
            },
            tripod3: {
                url: "./img/skill/orb/tripod_3.webp",
                name: "Scattering Wave",
                upgradeAble: true,
            },
        },
        {
            skillName: "Merciless Pummel",
            skillImage: "./img/skill/pummel/pummel.webp",
            skillLevel: "10",
            gem: {
                damage: true,
                cooldown: true,
            },
            rune: {
                primary: {
                    name: "Galewind",
                    url: "./img/icon/galewind.webp",
                },
                secondary: {
                    name: "",
                    url: "",
                },
            },
            tripod1: {
                url: "./img/skill/pummel/tripod_1.webp",
                name: "Hard Hitter",
                upgradeAble: true,
            },
            tripod2: {
                url: "./img/skill/pummel/tripod_2.webp",
                name: "Coldhearted",
                upgradeAble: true,
            },
            tripod3: {
                url: "./img/skill/pummel/tripod_3.webp",
                name: "Double Up",
                upgradeAble: true,
            },
        },
        {
            skillName: "Energy Release",
            skillImage: "./img/skill/er/er.webp",
            skillLevel: "10",
            gem: {
                damage: false,
                cooldown: true,
            },
            rune: {
                primary: {
                    name: "Galewind",
                    url: "./img/icon/galewind.webp",
                },
                secondary: {
                    name: "",
                    url: "",
                },
            },
            tripod1: {
                url: "./img/skill/er/tripod_1.webp",
                name: "Quick Prep",
                upgradeAble: true,
            },
            tripod2: {
                url: "./img/skill/er/tripod_2.webp",
                name: "Energy Release Enh.",
                upgradeAble: true,
            },
            tripod3: {
                url: "./img/skill/er/tripod_3.webp",
                name: "Ready Attack",
                upgradeAble: true,
            },
        },
    ]

div
    p.text.
        This is the most basic and beginner friendly skill build for new player.
        You may find it different from other skill builds that you have read before.
        Those are sure stronger than this but it's mostly endgame build with maximum 
        investment which you couldn't able to afford it at the moment.
    p.text.
        Also this is the one that this guide is based on.
    p.text.
        !{skillText("Pulverizing Palm")}/!{skillText("Flash Step")} work as a moving skill 
        or can be used as a self-buff.
    p.text.
        !{skillText("Energy Release")} is the main self-buff skill and 
        must be used first in almost every rotation.
    p.text.
        !{skillText("Shadow Breaker")}/!{skillText("Pulverizing Palm")}/
        !{skillText("Lightning Palm")} can be used for Destruction.
    p.text.
        !{skillText("Lightning Palm")} can be used for counter.
    p.text.
        !{skillText("Merciless Pummel")}/!{skillText("Shadow Breaker")}/
        !{skillText("Heavenly Squash")} have can be used for Staggering.

table.table
    thead
        tr.row
            th.cell.cell__head Skill name
            th.cell.cell__head Level
            th.cell.cell__head Tripods
    each item in skillSet
        tr.row
            td.cell.cell__title
                .wrapper
                    .icon
                        img(src= item.skillImage, alt= item.skillName)
                    .name
                        p= item.skillName
            td.cell.cell__level 
                .level= item.skillLevel
            td.cell.cell__detail
                    .tripod
                        .tripod-1
                            img(src= item.tripod1.url, alt= item.tripod1.name)
                        .tripod-2
                            img(src= item.tripod2.url, alt= item.tripod2.name)
                        if item.tripod3.url
                            .tripod-3
                                img(src= item.tripod3.url, alt= item.tripod3.name)
