include ../../gamedatas/basicSKillSet.pug

div.pane--grid
    div
        p.text.
            This is the most basic and beginner friendly skill build for new player.
            You may find it different from other skill builds that you have read before.
            Those are sure stronger than this but it's mostly endgame build with maximum 
            investment which you couldn't able to afford it at the moment.
        p.text.
            Also this is the one that this guide is based on.
        p.text.
            !{skillText("Pulverizing Palm",skillSet)}/!{skillText("Flash Step",skillSet)} work as a moving skill 
            or can be used as a self-buff.
        p.text.
            !{skillText("Energy Release",skillSet)} is the main self-buff skill and 
            must be used first in almost every rotation.
        p.text.
            !{skillText("Shadow Breaker",skillSet)}/!{skillText("Pulverizing Palm",skillSet)}/
            !{skillText("Lightning Palm",skillSet)} can be used for Destruction.
        p.text.
            !{skillText("Lightning Palm",skillSet)} can be used for counter.
        p.text.
            !{skillText("Merciless Pummel",skillSet)}/!{skillText("Shadow Breaker",skillSet)}/
            !{skillText("Heavenly Squash",skillSet)} have can be used for Staggering.

    table.table
        thead
            tr.row
                th.cell.cell__head Skill name
                th.cell.cell__head Level
                th.cell.cell__head Tripods
        each item in skillSet
            tr.row
                td.cell.cell__title
                    .wrapper
                        .icon
                            img(src= item.skillImage, alt= item.skillName)
                        .name
                            p= item.skillName
                td.cell.cell__level 
                    .level= item.skillLevel
                td.cell.cell__detail
                        .tripod
                            .tripod-1
                                img(src= item.tripod1.url, alt= item.tripod1.name)
                            .tripod-2
                                img(src= item.tripod2.url, alt= item.tripod2.name)
                            if item.tripod3.url
                                .tripod-3
                                    img(src= item.tripod3.url, alt= item.tripod3.name)

include ../6-tripod.pug

+tripod(skillSet)

include ../7-runes.pug

+runes(skillSet)

include ../8-gems.pug

+gems(skillSet)